@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    
    <table class="table" id="jpTable">
        <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Jackpot Points
            </th>
            <th>
                Date Time
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div>
        Player Name
    </div>
    <div>
        <input type="text" id="playerName"/>
    </div>
    <div>
        <input type="button" id="sendButton" value="PlayGame"/>
    </div>

    <div class="row">
        <div class="col-12">
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/msg.js"></script>
